# Python
__pycache__
*.pyc
*.egg-info
dist
# Folder
*checkpoints
*Data
*wandb

# Log
*.log
*.log.*
*.json
*.jsonl
# script
*.sh
# Data
!**/alpaca-data-conversation.json

# Editor
.idea
*.swp

# Other
.DS_Store
wandb
output

checkpoints
ckpts*

.ipynb_checkpoints
*.ipynb
